//colors
$white: #fff;
$black: #333333;
$brown: #694a2a;

//fonts
@import 'https://fonts.googleapis.com/css?family=Roboto|Poiret+One|Open+Sans|Slabo+27px';
$font_roboto: 'Roboto', cursive;
$font_slabo: 'Slabo 27px', serif;
$font_poiret: 'Poiret One', cursive;
$font_sans: 'Open Sans', sans-serif;
//urls
$url_2: url(../images/fondo.jpg);
