
#fondo {
  top: 0%;
  left: 0%;
  width: 100%;
  overflow: hidden;
  display: table;
  table-layout: fixed;
}

video.fillWidth {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);;
  background-size: cover;
  transition: 1s opacity;
}

.contenido{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 70%
}

.title {
  position: relative;
  font-size: 32px;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.sub{
  font-size: 21px;
  width: 30em;
}

/*nav*/
.hk-navigation {
    display: block;
    position: fixed;
    right: 0;
    z-index: 3;
    width: 220px;
    height: auto;
    background-color: transparent;
    transform: translateY(100%);
    top: -50px;
    .hk-logo.nav_logo {
        left: auto;
        right: 80px;
        top: auto;
        position: absolute!important;
    }
    .hk-logo {
        display: block;
        left: 80px;
        top: 15px;
        position: fixed!important;
        z-index: 5;
        width: 56px;
        height: 56px;
        background: url(../images/t_logo.svg) center no-repeat;
        background-size: contain;
    }
}

.hk-nav-menu {
    list-style: none;
  /*   margin-top: 3rem; */
    padding-left: 0;
/*     margin-right: 2.5rem; */
    li {
        position: relative;
        text-align: right;
        padding: 0.2rem 0;
        float: none;
        height: 32px;
        line-height: 32px;        
        span{
          margin-right: 26px;
        }

        .fa-long-arrow-left{
          -webkit-transition: .4s;
          transition: .4s;
          opacity:0;
          margin-right: -2rem;
          visibility:hidden;
          font-size: 18px;
      /*     margin-right: 1.8rem; */
        }  

        &:hover{         
          .fa-long-arrow-left{
            visibility: visible;
            opacity: 1;
            display: inline-block;
            -webkit-transition: .4s;
            transition: .4s;
            margin-left: 0px;
            height: auto;  
            margin-right: 6px;       
          }
          span{
            margin-right: 12px;
          }
        }

    }

    a{
      &:hover{        
       background-color: transparent;
      }
    }

  }
  
  #get{
       /*  margin-top: 1rem; */
  }

  .btn-agree{
    background-color: #F4D027;
    padding: 8px;
    text-shadow: 0.3px 0.3px 0.8px #fff;
    color: black;
    width: 120px;
    display: block;
    text-align: center;
    vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
    &:hover{
      color: black;
      text-decoration: none;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  #about{
    text-align: justify;
    background-color: #08437A;
    color:#fff;
    padding: 2rem;
    h3{
      letter-spacing: 1px;
      line-height: 30px;
      font-size: 25px;
      text-align: left;
      color: #E2A900;
    }
  }

  /*   .hk-menu-circle {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 3px;
        height: 7px;
        width: 7px;
        border: 1px solid #31a4b2;
        border-radius: 50%;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
          box-shadow: 0 0 0 6px rgba(49,164,178,0.2);
          background: #31a4b2;
        }
    }

    .hk-nav-item.active {
      .hk-nav-item_name{
        color: #31a4b2;
      }
      .hk-menu-circle{
        -webkit-animation: lines 2s infinite;
        -o-animation: lines 2s infinite;
        animation: lines 2s infinite;
        box-shadow: 0 0 0 6px rgba(49,164,178,0.2);
        background: #31a4b2;
        &::after{
          content: " ";
          position: absolute;
          top: 3px;
          left: 7px;
          height: 1px;
          width: 80px;
          background: #31a4b2;
        }
      } 
    }*/


/* .hk-nav-item {
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: transparent;
    font-size: 14px;
    font-weight: 300;
    margin-right: 80px;
    &:hover{
      color: #31a4b2;
      .hk-menu-circle{
        box-shadow: 0 0 0 6px rgba(49,164,178,0.2);
        background: #31a4b2;
        &::after{
          content: " ";
          position: absolute;
          top: 3px;
          left: 7px;
          height: 1px;
          width: 80px;
          background: #31a4b2;
        }
      }
    }
    .hk-menu-circle{
      &::after{
        content: " ";
        position: absolute;
        top: 3px;
        left: 7px;
        height: 1px;
        width: 0;
        background: #31a4b2;
        transition: all 0.3s;
      }
    }
    .hk-nav-item_name{
      visibility: visible;
      color: #777;
      &:hover{
        color: #31a4b2;
      }
    }
}


.hk-nav-item_name{
  visibility: hidden;
  transition: all 0.3s;
  padding-right: 28px;
  cursor: context-menu;
  display: block;
} */

.ease6 {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    -ms-transition: all .7s ease;
    transition: all .7s ease;
}

.about-content {
  -webkit-transition: 1s;
  transition: 1s;
  opacity:0;
  margin-left:-100px;
  visibility:hidden;
  height:0;
  width:100%
}

.clicked {
  visibility: visible;
  opacity: 1;
  /* display: inline-block; */
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0px;
  height: auto;
}


#graphic-container{
  width: 100%;
    min-height: 500px;
}

.d3-tip {
  line-height: 1.2;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 220px;
  z-index: 99999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  z-index: 99999;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis path,
.axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }
